# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

*~
*.elc

# Directories to ignore (do not add trailing '/'s, they skip symlinks).
.cask

# Documentation artefacts.
*.aux
*.cp
*.cps
*.epub
*.html
*.pdf
*.toc
*.vr
*.vrs

# Build artefacts.
bnf-mode-pkg.el
bnf-mode-autoloads.el
bnf-mode-*.tar
ChangeLog
README

# Code coverage report.
coverage-final.json

# Use this as your own wish list or a temporary buffer.
LATER
